.playlist-div {
    background-color: #DA44FF;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.underline-title-input {
    border: none; 
    border-bottom: 1px solid #000; 
    background: #DA44FF; 
    padding: 10px 5px; 
    width: 430px; 
    font-size: 16px; 
    color: #000; 
    outline: none; 
}

.submit-button {
    border: solid black;
    border-radius: 5px;
    background: #E062D8;
    padding: 10px 0;
    margin: 20px 0;
    width: 280px;
    font-size: 20px;
    font-weight: bold;
}